@page
@model PedirPizza.Pages.PedirPizzaModel
@{
    ViewData["Title"] = "PedirPizza";
}


<!DOCTYPE html>
<html>
<head>
    <title>Online Feedback Form</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      font-weight: 400;
      }
      h4 {
      margin: 22px 0 4px;
      color: #095484;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
      }
      input:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      .first-name {
      margin-bottom: 22px;
      }
      span {
      color: red;
      }
      th, td {
      width: 21%;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;
      text-align: center;
      vertical-align: unset;
      line-height: 18px;
      font-weight: 400;
      word-break: break-all;
      }
      .first-col {
      width: 16%;
      text-align: left;
      }
      table {
      width: 100%;
      }
      textarea {
      width: calc(100% - 6px);
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background-color: #0666a3;
      }
      media (min-width: 568px) {
      th, td 
      word-break: keep-all;
      }
      }
    </style>
</head>
<body>
    <div class="testbox">
        <form method="post">
            <h1>Ordenar una pizza</h1>
            <p>Gracias por preferirnos a continuacion se le presentan las diferentes opciones para que pueda armar la pizza que desea.</p>
            <h4>Elige el tamaño de la pizza:<span>*</span></h4>
            <table>
                <tr>
                    <th class="first-col"></th>
                    <th>Pequeña(8 pedazos)</th>
                    <th>Mediana(10 pedazos)</th>
                    <th>Grande(15 pedazos)</th>
                    <th>Gigante(20 pedazos)</th>
                </tr>
                <tr>
                    <td class="first-col">Tamaño</td>
                    <td><input id="pequenia" type="radio" value="pequenia" name="tamanio" /></td>
                    <td><input id="mediana" type="radio" value="mediana" name="tamanio" /></td>
                    <td><input id="grande" type="radio" value="grande" name="tamanio" /></td>
                    <td><input id="gigante" type="radio" value="gigante" name="tamanio" /></td>
                </tr>

            </table>
            



            <h5 style="color:red">@Model.MensajeTamanio</h5>
            <h4>Elige las coberturas que deseas:<span>*</span></h4>
            <table>
                <tr>
                    <th class="first-col"></th>
                    <th>Jamon</th>
                    <th>Peperoni</th>
                    <th>Suprema</th>
                    <th>Hongos</th>
                </tr>
                <tr>
                    <th class="first-col">Coberturas</th>
                    <td><input type="checkbox" class="chb" value="jamon" name="point#2" /></td>
                    <td><input type="checkbox" class="chb" value="peperoni" name="point#2" /></td>
                    <td><input type="checkbox" class="chb" value="suprema" name="point#2" /></td>
                    <td><input type="checkbox" class="chb" value="hongos" name="point#2" /></td>
                </tr>

            </table>
            <h5 style="color:red">@Model.MensajeCoberturas</h5>
            
                
            
            <div >
                @if (@Model.Precio == "")
                {
                    <button id="btn" type="submit" href="/" class="btn-block">Continuar</button>

                }
                @*else
                {
                    <h4 id="precio" style="color:green" name="TempPrecio">@Model.Precio </h4>

                    <h5>Ingrese la localizacion a la cual se quiere entregar:</h5>
                    <input id="localizacionEnvio"  type ="text" name="localizacion" />
                    <small>*Esta información solo sera usada con fines de la entrega.</small>
                    <br />

                    <button style="background-color:forestgreen" id="confimarBtn" class="btn1" disabled>Confirmar</button>


                    <button style="background-color:red" class="btn2" >Cancelar</button>
                }*@



            </div>

        </form>

    </div>
    <input type="text" id="opcionTamanio" name="ValorT" hidden />
    <input type="text" id="opcionesCoberturas" name="ValorC" hidden />

  
    

    @section Scripts{
        <script>

            $("#localizacionEnvio").on("keyup", function () {
                var Valor = $("#localizacionEnvio").val()
                console.log(Valor)
                if (Valor != "") {
                    $("#confimarBtn").removeAttr('disabled')
                } else {
                    $("#confimarBtn").attr('disabled','disabled')
                }

            }
            )

            btn.onclick = function () {
                const rbs = document.querySelectorAll('input[name="point#2"]');

                let selectedValue = "";
                for (const rb of rbs) {

                    if (rb.checked) {
                        selectedValue += rb.value + ",";

                    }
                }
               
            };


            




        </script>

    }







</body>
</html>
